extends base
-load i18n

block append content
    p: a.btn.btn-primary(href="{% url 'accounts:profile_edit' %}"): -trans "Edit profile"

    dl
      if avatar
        dt Avatar
        dd
          img(src="{{ avatar.url }}", width=128)

      if verified_public_id
        dt: -trans "Public identification (verified)"
        dd= verified_public_id

      if public_id
        dt: -trans "Public identification (unverified)"
        dd= public_id

      if verified_profile
        dt: -trans "Public profile (verified)"
        dd= verified_profile

      if profile
        dt: -trans "Public profile (unverified)"
        dd= profile

    
      
